.navbar {
    background-color: rgba(114, 114, 231, 0.836);
}
.nav-item {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: rgb(143, 140, 140);
}

.texto-titulo {
    padding-bottom: 30px;
    font-family: Times;
}
.paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.inicio {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: rgb(143, 140, 140);
}
.botao-do-inicio {
    background-color: rgb(56, 56, 56);
}


.jogos {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(141, 141, 226, 0.836);
    
}
.logos {
    padding-top: 60px;
}
.segundo-container {
    padding-top: 50px;
    padding-bottom:40px;
}

.livros {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: rgb(143, 140, 140);
}

.contato {
    background-color: rgba(141, 141, 226, 0.836);
    padding-top: 30px;
    padding-bottom: 30px;
}

.vai-pro-centro {
    padding-left: 200px;
}

.voltarzinho {
    margin-bottom: 50px;
}